*
{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1
{
    font-size: 45px;
}

html 
{
    background-image: linear-gradient(to left, rgba(167, 35, 194, 0.8), transparent), url("https://rare-gallery.com/mocahbig/90883-castle-minimalism-minimalist-artist-artwork-digital.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    background-attachment: fixed;
}

.container
{
  display: flex;
}
  
.welcomeCard,
.login 
{
  flex: 1;
  padding: 5rem;
  margin: 10rem;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(183, 36, 202, 0.6);
}
  
.opaque
{
    opacity: 0.7;
}

.attention
{
  color: purple;
}

.welcomeCard 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(247, 243, 252, 0.8);
  font-size: large;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(to bottom, rgba(126, 60, 202, 0.3) 0%, rgba(126, 60, 202, 0.8) 100%);
}
  
.star 
{
  cursor: pointer;
}

.star:hover,
.star.hover,
.star.active 
{
  background: linear-gradient(to bottom, rgba(175, 116, 230, 1), rgb(209, 56, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.star.hover
{
  opacity: 0.7;
}

.login 
{
  background-color: rgba(61, 28, 95, 0.8);
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.login p 
{
    font-size: 1.2rem;
}
  
.pfp 
{
    margin-top: 10px;
}

.login input 
{
    font-size: 1.2rem;
    opacity: 0.8;
    border-radius: 6.5px;
}

.submit
{
    width: 50%;
    background-color: rgb(127, 69, 202);
    opacity: 0.8;
    color: white;
    padding: 1rem;
    border: 1px groove rgb(12, 41, 32);
}

.message 
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
  }
  
.hint
{
  color: white;
  text-decoration: underline;
  opacity: 0.6;
}

.noline
{
  text-decoration: none;
}

.close
{
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border-radius: 25px;
  height: 5%;
  width: 5%;
  opacity: 0.7;
}

.error
{
    background-color: rgb(216, 9, 9);
    opacity: 0.8;
    color: white;
    text-align: center;
    padding: 1rem;
    border: 1px groove rgb(12, 41, 32);
}

.warning
{
    background-color: rgb(216, 161, 9);
    opacity: 0.8;
    color: white;
    text-align: center;
    padding: 1rem;
    border: 1px groove rgb(12, 41, 32);
}

.success
{
    background-color: rgb(50, 216, 125);
    opacity: 0.8;
    color: white;
    text-align: center;
    padding: 1rem;
    border: 1px groove rgb(12, 41, 32);
}

input
{
    opacity: 0.9;
}